server:
  port: 8089

spring:
  application:
    name: order-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/order_service
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
  kafka:
    bootstrap-servers: localhost:9092
    template:
      default-topic: notificationTopic
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring:
          json:
            type:
              mapping: event:com.msvc.order.event.OrderPlacedEvent

eureka:
  instance:
    prefer-ip-address: true
  instanceId: ${spring.application.name}:${vcap.application.instance_id:${spring.application.instance_id:${random.value}}}
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://eurekaadm:123@localhost:8761/eureka

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  health:
    circuitbreakers:
      enable: true
  endpoints:
    web:
      exposure:
        include: [ "health", "info", "metrics","prometheus" ]
  endpoint:
    health:
      show-details:always
  prometheus:
    metrics:
      export:
        enabled: true
  metrics:
    enable-exemplars: false

feign:
  circuitbreakers:
    enable: true

resilience4j:
  circuitbreaker:
    instances:
      inventario:
        registerHealthIndicator: true
        event-consumer-buffer-size: 10
        slidingWindowType: COUNT_BASED
        slidingWindowSize: 5
        failureRateThreshold: 50
        waitDurationInOpenState: 5s
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true

  timelimiter:
    instances:
      inventario:
        timeout-duration: 3s

  retry:
    instances:
      inventario:
        max-attempts: 3
        wait-duration: 5s







