server:
  port: ${PORT:0}

spring:
  application:
    name: items-service

logging:
  level:
    org.hibernate.type.descriptor.sql.BasicBinder: trace
    io.micrometer.tracing: DEBUG
    org.springframework.web: DEBUG

eureka:
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.value}
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka/

config:
  baseurl:
    endpoint:
      products-service: http://products-service

resilience4j:
  circuitbreaker:
    configs:
      defecto:
        sliding-window-size: 6
        failure-rate-threshold: 50
        wait-duration-in-open-state: 20s
        permitted-number-of-calls-in-half-open-state: 4
        slow-call-duration-threshold: 3s
        slow-call-rate-threshold: 50
    instances:
      items:
        base-config: defecto

  timelimiter:
    configs:
      defecto:
        timeout-duration: 4s
    instances:
      items:
        base-config: defecto

  retry:
    configs:
      defecto:
        max-attempts: 3
        wait-duration: 5s
    instances:
      items:
        base-config: defecto



