server:
  port: 8083

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: producto-service
              uri: lb://producto-service
              predicates:
                - Path=/api/producto/**

            - id: order-service
              uri: lb://order-service
              predicates:
                - Path=/api/order/**

            - id: inventario-service
              uri: lb://inventario-service
              predicates:
                - Path=/api/inventario/**

            - id: discovery-service
              uri: http://localhost:8761
              predicates:
                - Path=/eureka/web
              filters:
                - SetPath=/

            - id: discovery-service-static
              uri: http://localhost:8761
              predicates:
                - Path=/eureka/**
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/spring-boot-microservices-realm

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  prometheus:
    metrics:
      export:
        enabled: true
  metrics:
    enable-exemplars: false
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://eurekaadm:123@localhost:8761/eureka

#logging:
#  level:
#    org.springframework.cloud.gateway: DEBUG
