server:
  port: 8086

spring:
  application:
    name: notificacion-service
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: notificationId
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring:
          json:
            type:
              mapping: event:com.msvc.notification.event.OrderPlacedEvent
          trusted:
            packages: "*"

    template:
      default-topic: notificationTopic

management:
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
  prometheus:
    metrics:
      export:
        enabled: true
  metrics:
    enable-exemplars: false
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus

eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://eurekaadm:123@localhost:8761/eureka/
