server:
  port: 8084

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: usuario-service
          uri: lb://usuario-service
          predicates:
            - Path=/usuarios/**
          filters:
            - AuthFilter

        - id: hotel-service
          uri: lb://hotel-service
          predicates:
            - Path=/hoteles/**,/staffs/**
          filters:
            - AuthFilter

        - id: calificacion-service
          uri: lb://calificacion-service
          predicates:
            - Path=/calificaciones/**
          filters:
            - AuthFilter

        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**
          filters: []
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
