
spring:
  application:
    name: api-gateway
  config:
    import: "optional:configserver:http://localhost:8888" # Buscar en el servidor de configuración
  profiles:
    active: default

  cloud:
    gateway:
      # Configuración global de CORS
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                allowed-origins:
                  - "http://localhost:4200"
                  - "http://localhost:80"
                  - "http://localhost"
                allowed-methods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                allowed-headers:
                  - "*"
                allow-credentials: true

          # Rutas del Gateway
          routes:
            - id: products-service
              uri: lb://products-service
              predicates:
                - Path=/api/product/**
              filters:
                - StripPrefix=2  # Quita los primeros 2 segmentos del path (/api/product)
                - name: CircuitBreaker
                  args:
                    name: products
                    statusCodes: 500
                    fallbackUri: forward:/api/item/forward-message # Cuando fall, debe redirigir a otro servicio.
                - name: SampleCookie # Se usa para filtro personalizado
                  args:
                    message: Hola mi mensaje personalizado para productos!
                    name: user-filtro-personalizado
                    value: Norio



            - id: items-service
              uri: lb://items-service
              predicates:
                - Path=/api/item/**
              filters:
                - StripPrefix=2 # Quita los primeros 2 segmentos del path (/api/item)

            - id: discovery-service
              uri: http://localhost:8761
              predicates:
                - Path=/eureka/web
              filters:
                - SetPath=/

            - id: discovery-service-static
              uri: http://localhost:8761
              predicates:
                - Path=/eureka/**



resilience4j:
  circuitbreaker:
    configs:
      defecto:
        sliding-window-size: 6
        failure-rate-threshold: 50
        wait-duration-in-open-state: 20s
        permitted-number-of-calls-in-half-open-state: 4
        slow-call-duration-threshold: 3s
        slow-call-rate-threshold: 50
    instances:
      products:
        base-config: defecto

  timelimiter:
    configs:
      defecto:
        timeout-duration: 4s
    instances:
      products:
        base-config: defecto

  retry:
    configs:
      defecto:
        max-attempts: 3
        wait-duration: 5s
    instances:
      products:
        base-config: defecto